header{
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    list-style: none;
}

nav {
    width: 30%;
}
header div {
    width: 70%;
}

li {
    margin-left:20px;
}
